@model PropertyRentalManagementSystem.Models.Appointment

<h2>Appointment Details</h2>

<div class="appointment-details-card">
    <h4>Appointment Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Appointment Date</dt>
        <dd>@Model.Date.ToString("yyyy-MM-dd")</dd>

        <dt>Time</dt>
        <dd>@Model.Date.ToString("HH:mm")</dd>

        <dt>Building</dt>
        <dd>@Model.Apartment.Building.BuildingName</dd>

        <dt>Apartment Number</dt>
        <dd>@Model.Apartment.AppartmentNumber</dd>

        @if (ViewBag.IsTenant == true)
        {
            <dt>Manager Name</dt>
            <dd>@Model.Apartment.Building.User.FirstName @Model.Apartment.Building.User.LastName</dd>
        }
        else
        {
            <dt>Tenant Name</dt>
            <dd>@Model.User.FirstName @Model.User.LastName</dd>
        }

        <dt>Status</dt>
        <dd>@Model.Status.StatusName</dd>
    </dl>
</div>

<p>
    @if (ViewBag.IsTenant != true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }, new { @class = "btn btn-warning" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
